parameters:
    secret: '%env(ORO_SECRET)%'
    # Enable GridFS support
    #gaufrette_adapter.public: 'gridfs:%env(ORO_MONGODB_DSN_PUBLIC)%'
    #gaufrette_adapter.private: 'gridfs:%env(ORO_MONGODB_DSN_PRIVATE)%'

    # Enable Redis support
    #redis_dsn_cache: '%env(ORO_REDIS_CACHE_DSN)%'
    #redis_dsn_doctrine: '%env(ORO_REDIS_DOCTRINE_DSN)%'
    #redis_dsn_layout: '%env(ORO_REDIS_LAYOUT_DSN)%'
